html {
  margin: 0 auto;
  box-sizing: border-box; }

body {
  padding: 30px 0;
  background-color: #fff;
  font-size: 16px;
  font-style: 'Lato', sans-serif;
  font-weight: 300;
  
 }

.staff__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow: hidden;
  padding: 10px;
  grid-gap: 30px;
  text-align: center;
  margin: auto;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 auto; }

.staff__card {
  display: grid;
  grid-gap: 10px;
  padding: 10px 10px;
  box-shadow: 3px 3px 3px 3px rgb(172, 144, 144); }

.staff__image {
 
 display:flex;
 flex-direction:column;
 justify-content:center;
 text-align:center;
  width: 42%;
  margin: auto;
  }

.image {
  width: 100%;
  margin: 10px auto 20px;
  display: block; }

.staff__name {
  display: block;
  margin: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.logo__container {
  display: flex;
  margin-top: -10px;
  margin-bottom: 10px; }

.logo {
  width: 40px;
  height: auto;
  margin-top: -20px; }

.logo__header {
  margin-top: -5px; }

.staff__profile {
  display: inline-block;
  margin: 0 }

a:link,
a:active {
  display: inline-block;
  text-decoration: none;
  color: rgba(29, 27, 27, 0.918);
  text-transform: uppercase;
  font-size: 12px;
  grid-row-end: auto;
  display: grid;
  }

h3 {
  padding: 5px;
  margin: 5px; }

.profile__container {
  display: block;
  padding: 50px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px 3px rgb(172, 144, 144);;
  width: 50%;
  
  

  

}

.profile__header {
  display:block;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
/* 
input[type=text] {
  color: red;
}

input:disabled {
  color: black !important;
  border-color: red;
} */

.profile__data input{
 background-color: red;
 color: royalblue !important;
}

.profile__base__data {
  display: flex;
}

.profile__image {
  display: flex;
  width: 150px;
  
  position: relative;
  margin-bottom: 15px;
 
}

.img {
  width: 100%;
  
}

.profile__name{
  align-self: center;
  margin: 0 10px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  margin: 5px;
}

.profile__data {
  display:grid;
  grid-template-columns: 70%  15% 15%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  font-weight: 500;
}

.profile__logo {
  width: 90px;
  margin-bottom: 30px;
  margin-left: 15px;
  
}

.icon-image {
  width: 20px;
}
.search__box {
  display: grid;
  grid-template-columns: 70% 10% 10% 10%;
}
.signin {
 float: left;
}

input[type=search] {
  height: 25px;
}

.pages__icons {
  display: flex;
  width: 60px;
  height: auto;
  margin: auto;
}

.svg__image {
  display:inline-block;
  width: 100%;
}

.back__image {
  display: block;
  margin-top: 20px;
}

.back {
  margin-top: 20px;
}
 a {
  color: black;
 }

 .pagination {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  
  
}

.pagination  {
  text-align: center;
  color: black;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  margin-top: 30px;
  
}

.pagination .active {
  background-color: rgba(156, 97, 97, 0.788);
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
 
button {
  margin: -5px;
  margin-left: 20px;
  width: 50px;
  background: rgba(201, 71, 71, 0.788);
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}